<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Managment</title>
	<link rel="icon" href="images/rex-fav.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/portal-theme.css">
	<link rel="stylesheet" type="text/css" href="css/portal-responsive-theme.css">
      <link rel="stylesheet" type="text/css" href="css/jquery.custom-scrollbar.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/portal-theme.js"></script>
      <script src="js/jquery.custom-scrollbar.js"></script>
</head>
<body>
<div class="page-content-inner">
    <div class="page-header">
        <div class="main-title"><strong>Project Managment</strong></div>
    </div>
    
    <div class="theme-panel">
        <div class="projectManagment">
            <div class="detailBox">
                <div class="headerBox">
                    Customer Projects
                </div>
                <div class="contentBox">
                    <div class="projectPanel">
                    <div class="prjectListBox">
                        <div class="statusBtn">
                            <div class="btn-group dropright">
                              <button type="button" class="statusB dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              </button>
                              <div class="dropdown-menu statusOption">
                                    <ul>
                                        <li><a href="#"><img src="images/pm/businessman.png"/>  Planing</a></li>
                                        <li><a href="#"><img src="images/pm/growth.png" /> In Progress</a></li>
                                        <li><a href="#"><img src="images/pm/approval.png" /> Done</a></li>
                                        <li><a href="#"><img src="images/pm/warranty.png" /> Under Warranty</a></li>
                                        <li><a href="#"><img src="images/pm/route.png" /> Cleared</a></li>
                                    </ul>
                              </div>
                            </div>
                        </div>
                        <div class="clientBox collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Tim Hutchinsion
                        </div>
                        <div class="taskBox">Appartment Rental Websites with Calernder or online Payment</div>
                        </div>
                        
                            <div class="detailPanelBox collapse" id="collapseExample1">
                                <div class="pmOptionPanal">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><img src="images/pm/information.png"> General</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><img src="images/pm/push-pin.png">  Assets</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                          <div class="discussion-box">
                                                <div class="discussion-header">
                                                    <div class="title">Properties</div>
                                                </div>
                                                <div class="discussion-detail">
                                                    <div class="details-title">
                                                        <span class="lable">Status  </span>  In Progress
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Customer   </span>  Tim Hutchinsion
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Start Date  </span>  18-Feb-2020
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">End  Date  </span>  ----
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="discussion-box">
                                                <div class="discussion-header">
                                                    <div class="title">Assigned Person</div>
                                                </div>
                                                <div class="discussion-detail">
                                                    <div class="discussion-date">21-Oct-2019</div>
                                                    <div class="details-title">
                                                        <span class="lable">Proposal Id   </span>  #1256335
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Person Name   </span>  Rahul Kumar
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Company Name   </span>  Rexweb Solutions
                                                    </div>
                                                </div>
                                            </div>
                                          <div class="discussion-box">
                                                <div class="discussion-header">
                                                    <div class="title">Client Discussion Details</div>
                                                </div>
                                                <div class="discussion-detail">
                                                    <div class="discussion-date">21-Oct-2019</div>
                                                    <div class="details-title">
                                                        <span class="lable">Contractor Name   </span>  Rexweb Solutions Ltd.
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Client  Name    </span>  Rahul Kumar
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Company Name   </span>  Rexweb Solutions
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Source   </span>  Upwork
                                                    </div>
                                                    <div class="details-title">
                                                        <span class="lable">Title   </span> Mockup design and html.
                                                    </div>
                                                </div>

                                                <div class="requirment-details">
                                                    <div class="requirment-title">
                                                        Discussion: 
                                                    </div>
                                                     <div class="requirment-details">
                                                        The right questions and resulting answers not only help you to provide better results for your clients, but the act of asking questions that prompt productive dialogues can improve your relationships. With a better understanding of the client's business, her goals and challenges, needs, and values, you can find new ways to provide value to the client and connect with the larger team.
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                     
                                      <div className="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                            <div className="discussion-box">
                                                <div className="discussion-header">
                                                    <div className="title">Assets</div>
                                                </div>
                                                <div className="attactedFile">
                                                    <div className="upload-btn-box">
                                                        <i className="fa fa-paperclip" aria-hidden="true"></i>
                                                        <input type="file" class="upload-btn">
                                                    </div>
                                                    <div className="uploadedFileName">
                                                        fileName.xml
                                                    </div>
                                                </div>
                                          </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="prjectListBox">
                        <div class="statusBtn">
                            <div class="btn-group dropright">
                              <button type="button" class="statusB dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              </button>
                              <div class="dropdown-menu statusOption">
                                    <ul>
                                        <li><a href="#"><img src="images/pm/businessman.png"/>  Planing</a></li>
                                        <li><a href="#"><img src="images/pm/growth.png" /> In Progress</a></li>
                                        <li><a href="#"><img src="images/pm/approval.png" /> Done</a></li>
                                        <li><a href="#"><img src="images/pm/warranty.png" /> Under Warranty</a></li>
                                        <li><a href="#"><img src="images/pm/route.png" /> Cleared</a></li>
                                    </ul>
                              </div>
                            </div>
                        </div>
                        <div class="clientBox collapsed">
                           Thomos WhiteCotton
                        </div>
                        <div class="taskBox">Web Development</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
	


    
    
    
  
		
		

</body>
</html>